

#title {
    background-color: aqua;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font: size 22px;
    font-weight:bolder;
 }

.alert-text {
    color: red;
 }

div {
    color: black;
 }