div {
    background-color: black;
    color: white;
}
#title {
    color: red;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
}

.altbaslik {
    color: red;
    
}
p {
    color: red;
    text-decoration: underline;
    text-decoration-style: wavy;
    
}